<h3>Comments</h3>
<% @post.comments.each do |comment| %>
  <div class="card" style="width: 18 rem; margin: 0.5em;">
    <div class="card-body">
      <p>
        <strong><%= comment.username %>:</strong>
          <%= comment.body %>
      </p>
      <div class="text-right">
      <%= link_to 'X', [comment.post, comment],
        method: :delete,
        data: { confirm: 'Are you sure?' },
        :class => "btn btn-danger"
      %>
    </div>
    </div>
  </div>
<% end %>
