<h1>Blog Posts</h1>

<%-# note no <%= because this is logic, not an output -%>
<% @posts.each do |post| %>
  <div class="card" style="width: 18 rem; margin: 1em;">
    <div class="card-body">
      <h3 class="card-title"><%= post.title %></h3>
      <p class="card-text"><%= post.body %></p>
      <%= link_to "Read More", post_path(post), :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
